#num{
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    margin-top: 50px;
}
button{

    margin-top: 100px;
}

#button1{
     padding-left:10px ;
     padding-right:10px ;
     padding-top:10px ;
     padding-bottom:10px ;
     font-size: 35px;
     margin-right: 300px;
     margin-left: 50px;
     border-radius: 10px;
     box-shadow: ;
}

#button2{
    padding-left:10px ;
    padding-right:10px ;
    padding-top:10px ;
    padding-bottom:10px ;
    font-size: 35px;
    margin-right: 450px;
    border-radius: 10px;
    
}

#button3{
    padding-left:10px ;
    padding-right:10px ;
    padding-top:10px ;
    padding-bottom:10px ;
    font-size: 35px;
    border-radius: 10px;
}